name: "labo 7"
services:
  proxy:
    image: nginx
    volumes:
      - ./nginx/default-http.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 80:80
    networks:
      - proxy-net
      - cms-net
      - ididit-net
  cms:
    image: wordpress
    volumes:
      - ./volumes/wp/:/var/www/html/
    environment:
      - WORDPRESS_DB_HOST=database
      - WORDPRESS_DB_USER=${db_user}
      - WORDPRESS_DB_PASSWORD=${db_pass}
      - WORDPRESS_DB_NAME=${db_name}
      - WORDPRESS_TABLE_PREFIX=wp
      - WORDPRESS_CONFIG_EXTRA=define('WP_HOME','http://localhost/cms');define('WP_SITEURL','http://localhost/cms');
    networks:
      - cms-net
      - db-net
    deploy:
      mode: replicated
      replicas: 3
      endpoint_mode: dnsrr
  database:
    image: mysql
    volumes:
      - ./volumes/db/:/var/lib/mysql/
    environment:
       - MYSQL_RANDOM_ROOT_PASSWORD=yes
       - MYSQL_DATABASE=${db_name}
       - MYSQL_USER=${db_user}
       - MYSQL_PASSWORD=${db_pass}
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u $$MYSQL_USER --password=$$MYSQL_PASSWORD"]
      interval: 2s
      start_period: 30s
    networks:
      - db-net
  apache:
    build: ./build/
    networks:
      - ididit-net

networks:
  proxy-net:
    external: true
  cms-net:
    internal: true
  db-net:
    internal: true
  ididit-net:
    internal: true
