name: "labo 7"
services:
  proxy:
    image: nginx
    # volumes:
    #   - ./nginx/default-http.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 80:80
  cms1:
    image: wordpress
    volumes:
      - vcms1:/var/www/html/
    ports:
      - 8081:80
    environment:
      - WORDPRESS_DB_HOST=database1
      - WORDPRESS_DB_USER=dbuser
      - WORDPRESS_DB_PASSWORD=dbpass
      - WORDPRESS_DB_NAME=wp
      - WORDPRESS_TABLE_PREFIX=wp
  cms2:
    image: wordpress
    volumes:
      - vcms2:/var/www/html/
    ports:
      - 8082:80
    environment:
      - WORDPRESS_DB_HOST=database2
      - WORDPRESS_DB_USER=dbuser
      - WORDPRESS_DB_PASSWORD=dbpass
      - WORDPRESS_DB_NAME=wp
      - WORDPRESS_TABLE_PREFIX=wp
  cms3:
    image: wordpress
    volumes:
      - vcms3:/var/www/html/
    ports:
      - 8083:80
    environment:
      - WORDPRESS_DB_HOST=database3
      - WORDPRESS_DB_USER=dbuser
      - WORDPRESS_DB_PASSWORD=dbpass
      - WORDPRESS_DB_NAME=wp
      - WORDPRESS_TABLE_PREFIX=wp
  database1:
    image: mysql
    volumes:
      - vdatabase1:/var/lib/mysql/
    environment:
       - MYSQL_RANDOM_ROOT_PASSWORD=yes
       - MYSQL_DATABASE=wp
       - MYSQL_USER=dbuser
       - MYSQL_PASSWORD=dbpass
  database2:
    image: mysql
    volumes:
      - vdatabase2:/var/lib/mysql/
    environment:
       - MYSQL_RANDOM_ROOT_PASSWORD=yes
       - MYSQL_DATABASE=wp
       - MYSQL_USER=dbuser
       - MYSQL_PASSWORD=dbpass
  database3:
    image: mysql
    volumes:
      - vdatabase3:/var/lib/mysql/
    environment:
       - MYSQL_RANDOM_ROOT_PASSWORD=yes
       - MYSQL_DATABASE=wp
       - MYSQL_USER=dbuser
       - MYSQL_PASSWORD=dbpass
  ididit:
    build: ./build/
    ports:
      - 8080:80
  portainer:
    image: portainer/portainer-ce
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - vportainer:/data/
    ports:
      - 8000:8000
      - 9000:9000

volumes:
  vdatabase1:
  vdatabase2:
  vdatabase3:
  vcms1:
  vcms2:
  vcms3:
  vportainer:
